@model RegisterKeeper.Web.Models.Shoot

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Mobile/css", "~/Content/jquerymobile/css")
    @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
</head>
    <body>
        @foreach (var sighter in Model.Sighters)
        {
            <div data-role="page">
                
            </div>
        }
        <div>
        </div>
    </body>
</html>
