@model RegisterKeeper.Web.Models.Shoot

@{
    var firstSighterShotId = Model.Sighters.Single(s => s.ShotNumber == 1).Id;
}

<li>
    <a href="@Url.Action("Scorer", "Shots", new { shotId = firstSighterShotId })" data-ajax="false">
        @Model.Distance.DisplayValue()
        <span class="ui-li-count">@Model.TotalScore.ToString()</span>
    </a>
</li>
